
<%= simple_form_for(@genre) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name_genre %>
    <%= f.input :description_genre %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <%= form_tag games_path, method: :get do %>
    <%= label_tag :genre_id, "Filter by Genre:" %>
    <%= select_tag :genre_id, options_from_collection_for_select(Genre.all, :id, :name_genre), include_blank: true %>
    <%= submit_tag "Filter", name: nil %>
  <% end %>
  
<% end %>
