<h1>Perfil de <%= @user.nickname %></h1>
<p><%= current_user.description %></p>

<h3>Favoritos</h3>
<ul>
  <% @user.favorite_games.each do |game| %>
    <li><%= link_to game.name_game, game %></li>
  <% end %>
</ul>

<% if user_signed_in? && current_user == @user %>
  <h2>Suas coleções</h2>
  <% if @user.collections.any? %>
    <ul>
      <% @user.collections.each do |collection| %>
        <li><%= link_to collection.title, collection_path(collection) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Você ainda não possui uma coleção. <%= link_to "Criar", new_collection_path %></p>
  <% end %>
<% end %>

<% if user_signed_in? && current_user == @user %>
    <%= link_to 'Editar perfil', edit_user_registration_path, class: 'btn btn-primary' %>
<% end %>
