
<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name_game %>
    <%= f.input :description_game %>
    <%= f.input :release %>
    <%= f.input :rate_game %>
    <%= f.input :franchise %>
    <%= f.label :genres %>
    <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name_genre %>
    <br>
    <%= f.label :platforms %>
    <%= f.collection_check_boxes :platform_ids, Platform.all, :id, :name_platform %>
    <br>
    <%= f.label :publisher %>
    <%= f.collection_select :publisher_id, Publisher.all, :id, :name_publisher %>
    <br>
    <%= f.label :developer %>
    <%= f.collection_select :developer_id, Developer.all, :id, :name_developer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
