
<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name_game %>
    <%= f.input :description_game %>
    <%= f.association :publisher, as: :select, collection: @publishers %>
    <%= f.association :genres, as: :check_boxes, collection: @genres %>
    <%= f.association :genres, as: :check_boxes, collection: @platforms %>
    <%= f.association :developer, as: :select, collection: @developers %>
    <%= f.input :release %>
    <%= f.input :rate_game %>
    <%= f.input :franchise %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
