<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :banner_game, style: "display: block" %>
    <%= form.text_field :banner_game %>
  </div>

  <div>
    <%= form.label :title_game, style: "display: block" %>
    <%= form.text_field :title_game %>
  </div>

  <div>
    <%= form.label :synopsis_game, style: "display: block" %>
    <%= form.text_area :synopsis_game %>
  </div>

  <div>
    <%= form.label :isforsale_game, style: "display: block" %>
    <%= form.check_box :isforsale_game %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
