<div id="<%= dom_id game %>">
  <p>
    <strong>Banner game:</strong>
    <%= game.banner_game %>
  </p>

  <p>
    <strong>Title game:</strong>
    <%= game.title_game %>
  </p>

  <p>
    <strong>Synopsis game:</strong>
    <%= game.synopsis_game %>
  </p>

  <p>
    <strong>Isforsale game:</strong>
    <%= game.isforsale_game %>
  </p>

</div>
