<div id="<%= dom_id game %>">
  <p>
    <strong>Name game:</strong>
    <%= game.name_game %>
  </p>

  <p>
    <strong>Description game:</strong>
    <%= game.description_game %>
  </p>

  <p>
    <strong>Release:</strong>
    <%= game.release %>
  </p>

  <p>
    <strong>Rate game:</strong>
    <%= game.rate_game %>
  </p>

  <p>
    <strong>Franchise:</strong>
    <%= game.franchise %>
  </p>

</div>
