<div id="<%= dom_id game %>">

  <p>
    <strong>Name game:</strong>
    <%= game.name_game %>
  </p>

  <p>
    <strong>Description game:</strong>
    <%= game.description_game %>
  </p>

  <p>
    <strong>Release:</strong>
    <%= game.release %>
  </p>

  <p>
    <strong>Rate game:</strong>
    <% if game.reviews.any?%>
      <%= game.rate_game %>
    <% else %>
      <p>Seja o primeiro a avaliar esse jogo!</p>
    <% end %>
  </p>

  <p>
    <strong>Franchise:</strong>
    <%= game.franchise %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= link_to game.publisher.name_publisher, publisher_path(game.publisher.id) %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= link_to game.developer.name_developer, developer_path(game.developer.id) %>
  </p>

  <p>
    <strong>Genres:</strong>
    <% game.genres.each do |genre| %>
      <%= link_to genre.name_genre, filtered_search_games_path(genre_id: genre.id) %>
    <% end %>
  </p>

  <p>
    <strong>Platforms:</strong>
    <% game.platforms.each do |platform| %>
      <%= link_to platform.name_platform, platform_path(platform.id) %>
    <% end %>
  
</div>
