<p style="color: green"><%= notice %></p>

<%= render @game %>

<h2>Reviews:</h2>

<% @game.reviews.each do |review| %>
  <p><%= link_to "#{review.user.nickname}:", user_path(review.user) %></p>
  <p><%= review.content %> - Nota: <%= review.score %> - Postado em <%= review.posted_at.strftime('%d/%m/%Y %H:%M:%S') %>
  <% if review.user == current_user %>
  <%= button_to 'Excluir', review_path(review), method: :delete %></p>
<% end %>
<% end %>

<h2>Deixe sua review:</h2>

<form action="<%= reviews_path(@game) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="game_id" value="<%= @game.id %>">
  <textarea name="review[content]"></textarea>
  <label for="score">Nota:</label>
  <input type="number" name="review[score]" min="0" max="10" step="0.1">
  <input type="submit" value="Postar review">
</form>

<div>

<br>

<% if user_signed_in? %>
  <% if current_user.favorite_games.include?(@game) %>
    <%= button_to 'Remover dos favoritos', favorite_game_path(@game), method: :post, class: 'btn btn-outline-danger' %>
  <% else %>
    <%= button_to 'Adicionar aos favoritos', favorite_game_path(@game), method: :post, class: 'btn btn-outline-success' %>
  <% end %>

<%= form_for current_user.user_games.build(game_id: @game.id), url: game_user_games_path(@game) do |f| %>
  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.select :status, UserGame.statuses.keys.to_a %>
  </div>
  <%= f.submit "Adicionar à Biblioteca", class: "btn btn-primary" %>
<% end %>

   <% if current_user.wishlist_games.include?(@game) %>
    <%= button_to 'Remover da lista de desejos', wishlist_game_path(@game), method: :post, class: 'btn btn-outline-danger' %>
  <% else %>
    <%= button_to 'Adicionar à lista de desejos', wishlist_game_path(@game), method: :post, class: 'btn btn-outline-success' %>
  <% end %>

  <br>

  <%= form_tag(add_to_collection_game_path(@game), method: :post) do %>
    <%= collection_select :collection_item, :collection_id, current_user.collections, :id, :title, { prompt: 'Selecione uma coleção' } %>
    <%= submit_tag 'Adicionar à coleção' %>
  <% end %>
<% end %>

</div>
